.book-list-box {
  text-align: center;
  width: 1500px;
}
.book-list-name {
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;


}
.book-list {
  width: 40%;
  max-width: 600px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 31%;
  margin-top: 40px;
  margin-bottom: 80px;
}

.book-index-item {
  width: 112px;
}

.book-list-link {
  height: 156px;
}

.book-list li {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.book-list-title {
  text-decoration: none;
  color: black;
  width: 110px;
  font-size: 14px;
}

.book-list-cover {
  width: 110px;
  height: 150px;
  box-shadow: 5px 5px 5px #ddd;
  margin-bottom: 5px;
}

.book-list-cover:hover {
  box-shadow: 10px 12px 12px #ddd;
  width: 112px;
  height: 152px;
}
