// Place all the styles related to the api/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-book-show {
  padding: 10px;
  margin-bottom: 80px;
}

.book-details-left {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-top: 10px;
}

.book-details-box {
  display: flex;
}

.book-show-status {
  width: 170px;
  display: flex;
  flex-direction: column;
}



.book-cover {
  width: 170px;
  height: 230px;
  margin-bottom: 5px;
  box-shadow: 0px 5px 5px #ddd;
}

.book-details {
  align-self: center;
  max-width: 25%;
  margin-left: 20px;
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;

  h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
  }

}


.book-author {
  font-size: 18px;
  font-weight: none;
  margin-bottom: 8px;
}
.book-avg-score {
  font-size: 12px;
  margin-bottom: 8px;
  margin-left: 10px;
}

.book-avg-score strong {
  font-size: 14px;
  font-weight: bold;
}
.book-description li {
  margin-bottom: 10px;
}

.book-description {
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 20px;
  height: 300px;
  overflow-y: scroll;
  padding: 0 15px 0 0;
  list-style: none;
}

.book-publish-info {
  padding: 20px 0 10px 0;
  border-top: 1px solid #d3d3d3;
  font-size: 12px;
}

.reviews-box {
  align-self: center;
  max-width: 40%;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
}

.reviews-box-header {
  border-bottom: 1px solid #d3d3d3;
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 20px 0;
  margin-bottom: 20px;
}

.review-details {
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 20px;
}

.reviewer-name {
  font-weight: bold;
  font-size: 16px;
}

.review-item-header {
  font-size: 14px;
  margin-bottom: 10px;
}

.review-body {
  font-size: 16px
}
//here
