// Place all the styles related to the api/shelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.side-bar {
  position: fixed;
  left: 100px;
  top: 90px;
  width: 180px;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px 0;
}

.shelf-list {
  margin-top: 5px;
  margin-bottom: 5px;
}

.shelf-list-item {
  padding: 1.5px;
}

.shelf-list-link {
  text-decoration: none;
  color: #382110;
}

.shelf-list-link:hover {
  text-decoration: underline;
}

.side-bar h5 {
  font-weight: bold;
}

.shelf-form-input {
  margin-right: 5px;
}

.shelf-form-button {
  text-align: center;
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  text-decoration: none;
  background: #F4F1EA;
  cursor: pointer;
  font-family: "Merriweather";
  color: #382110;
  font-weight: bold;

}

.shelf-form-button:hover {
  background: #ebe6d9;
}
