/*
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: Museo-Sans, sans-serif;
*/


ul, li {list-style: none;}

body {
  background: #2d333a;
  color: #fff;
  font: 400 15px 'Roboto', arial, sans-serif;
  position: relative;
}

article,
aside,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

.clear::after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}

a {
  color: #57bff7;
  text-decoration: none;
}


/* ------------------- Header ------------------- */

header {
  background: #373f46;
}
header .header-logo {
  margin-bottom: 0;
}
header .header-logo a {
  background: url(https://mlab.com/base/img/mLab-logo-dark.svg) no-repeat;
  background-size: 93px 32px;
  display: block;
  font-size: 0;
  height: 32px;
  width: 93px;
}

.header--nav li {
  padding-bottom: 0;
}

.header--nav li.nav-main {
  margin-left: 0;
}

header nav li.nav-signup a:hover {
  background: -webkit-linear-gradient(-90deg, #5ec6ff 0, #2ba4e5 100%);
  background: -moz-linear-gradient(180deg, #5ec6ff 0, #2ba4e5 100%);
  background: linear-gradient(180deg, #5ec6ff 0, #2ba4e5 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}


header nav li.nav-login a:hover {
  background: -webkit-linear-gradient(-90deg, #edb41a 0, #dba000 100%);
  background: -moz-linear-gradient(180deg, #edb41a 0, #dba000 100%);
  background: linear-gradient(180deg, #edb41a 0, #dba000 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

/* Styles using CSS borders */
#menu-icon {
  cursor: pointer;
  display: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 24px;
  right: 14px;
  z-index: 500;
}

#menu-icon span {
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  background: #fff;
  transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -webkit-transform .2s 0s;
  transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s;
  transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s, -webkit-transform .2s 0s;
}

#menu-icon span:nth-child(1) {
  top: 0;
}

#menu-icon span:nth-child(2) {
  top: 5px;
}

#menu-icon span:nth-child(3) {
  top: 10px;
}

#menu-icon.close span {
  transition: background .2s, top .2s, left .2s, opacity .2s, -webkit-transform .2s .25s;
  transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s;
  transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s, -webkit-transform .2s .25s;
}

#menu-icon.close span:nth-child(3),
#menu-icon.close span:nth-child(1) {
  top: 5px;
  background: #fff;
}

#menu-icon.close span:nth-child(2) {
  opacity: 0;
}

#menu-icon.close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-icon.close span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


@media screen and (max-width: 1003px) {
  a#menu-icon {
    display: inline-block;
  }

  header {
    padding: 12px;
    position: relative;
  }
  header .header-logo {
    height: 32px;
    width: 93px;
  }
  header nav {
    display: none;
    -webkit-transition: background .4s ease;
       -moz-transition: background .4s ease;
            transition: background .4s ease;
  }
  header nav li {
    margin-left: 0;
  }
  header nav li.nav-main:not(.nav-btn) {
    border-bottom: 1px solid #8d9499;
    padding: 3px 0;
  }

  header nav li.nav-main a,
  header nav li.nav-main label {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    font-family: Museo-sans, Helvetica, Arial, sans-serif;
    display: block;
    text-transform: uppercase;
  }
  header nav li.nav-main:not(.nav-btn) a,
  header nav li.nav-main label {
    padding: 10px 0;
  }
  header nav li.nav-main:not(.nav-btn) a:hover,
  header nav li.nav-main:not(.nav-btn) a:active,
  header nav li.nav-main label:hover {
    color: #adb3b9;
  }

  header nav li.nav-main label {
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  header nav li.nav-main.expand label:hover {
    color: #fff;
  }
  header nav li.nav-main label i {
    height: 8px;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    transition: transform .4s;
    width: 12px;
  }
  header nav li.nav-main label i:before {
    background: url(/base/img/icon-menu-arrow.svg) no-repeat;
    background-size: 12px 8px;
    content: '';
    display: block;
    height: 8px;
    width: 12px;
  }
  header nav li.nav-main.expand label i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  header nav li.nav-company .nav-main--link,
  header nav li.nav-support .nav-main--link {
    display: none;
  }

  header nav li.nav-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  header nav li.nav-btn a {margin: 2px 0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 14px;
    padding: 9px 0 6px 0; padding:8px 16px 7px;
    text-align: center;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    width: 112px;
  }
  header nav li.nav-btn a:hover {
    margin: 0;
    padding: 10px 18px 9px;
  }
  header nav li.nav-btn a.nav-login {
    background: #e0a905;
  }
  header nav li.nav-btn a.nav-signup {
    background: #31abed;
  }

  header nav ul:not(.sub-nav) {
    background: #4f5a63;
    padding: 15px 28px 28px;
    width: 296px;
    position: absolute; top: 60px; right: 12px;
  }
  header nav ul.sub-nav {
    display: none;
    padding-bottom: 6px;
  }
  header nav ul.sub-nav a {
    color: #c4cacf;
    font-weight: 300;
    font-size: 14px;
    font-family: Museo-sans, Helvetica, Arial, sans-serif;
    display: block;
    padding: 0 12px;
    text-transform: none;
  }
  body.menu-open {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  body.menu-open a#menu-icon {
    z-index: 1500;
  }
  body.menu-open header .header-logo {
    position: relative;
    z-index: 1500;
  }
  body.menu-open header nav {
    display: block;
    background: rgba(0,0,0,.5);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

}


@media screen and (min-width: 1004px) {
  header {
    padding: 20px 0 15px;
  }

  header .header-logo {
    height: 53px;
    width: 148px;
  }
  header .header-logo a {
    background-size: 148px 53px;
    height: 53px;
    width: 148px;
  }
  header .header--content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    /*width: 1004px;*/
    box-sizing: border-box;
  }

  header li.nav-main.nav-home,
  header li.nav-main.nav-company,
  header li.nav-main label {
    display:none;
  }

  .header--nav {
    height: 50px;
    display: flex;
    align-items: center;
  }

  header nav li.nav-main:not(.nav-btn) {
    margin-right: 26px;
  }
  header nav li.nav-main a {
    color:#fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    font-family: Museo-sans, Helvetica, Arial, sans-serif;
  }
  header nav li.nav-main:not(.nav-btn) a:hover,
  header nav li.nav-main:not(.nav-btn) a:active {
    color: #adb3b9;
  }
  header nav li.nav-main.nav-btn a {
    padding: 6px 15px;
    font-weight: normal;
    font-size: 12px;
    font-family: Museo-sans, Helvetica, Arial, sans-serif;
  }
  header nav li.nav-main.nav-signup {
    margin-right: 3px;
  }

  /* with hover animations */
  header nav li.nav-main a.nav-signup {
    font-family: "Museo-Sans", Helvetica, Arial, sans-serif !important;
    text-align: center;
    cursor: pointer;
    margin: 2px 2px 2px 23px;
    padding: 8px 16px 7px;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #31abed;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 55px;
  }
  header nav li.nav-main a.nav-signup:hover {
    margin: 0 0 0 21px;
    padding: 10px 18px 9px;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.25);
  }
  header nav li.nav-main a.nav-signup:active {
    background: #26a1e2;
    text-shadow: none;
  }
  header nav li.nav-main a.nav-login {
    font-family: "Museo-Sans", Helvetica, Arial, sans-serif !important;
    text-align: center;
    cursor: pointer;
    margin: 2px 2px 2px 13px;
    padding: 8px 16px 7px;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #e0a905;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 55px;
  }
  header nav li.nav-main a.nav-login:hover {
    margin: 0 0 0 11px;
    padding: 10px 18px 9px;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.25);
  }
  header nav li.nav-main a.nav-login:active {
    background: #d39700;
    text-shadow: none;
  }

  header nav ul:not(.sub-nav) {
    display: flex;
    align-content: center;
  }
  header nav ul.sub-nav {
    display: none !important;
  }
}

@media screen and (min-width: 1086px) {
  header .header--content.fixed-width {
    width: 1086px;
  }
}

/* Narrow */
@media screen and (max-width: 767px) {
}

/* Mid-size (Vertical tablet) */
@media screen and (min-width: 768px) {
}

/* Wide (Desktop) */
@media screen and (min-width: 900px) {
}

/* Extended(Desktop) */
@media screen and (min-width: 1004px) {
}

@media screen and (min-width: 1086px) {
}

