section#routing-main {
  width: 1100px;
  margin: 30px auto 0 auto;
  padding-top: 30px;
  border-top: 1px solid #313b44;
}


.routing-header h3 {
  margin: 0 0 16px;
  padding: 0;
  font: 300 22px/16px 'Museo Sans',sans-serif;
  color: #fff;
}
.routing-header .overview {
  margin: 0 0 60px 0;
  padding: 0;
  font: 300 14px/19px 'Roboto',sans-serif;
  color: #8c969d;
}

.routing-states {
  padding-bottom: 50px;
  padding-left: 64px;
}

.routing-states:after {
  clear: both;
  content: '';
  display: block;
}

.routing-state--item {
  display: block;
  float: left;
  width: 276px;
  margin-right: 64px;
}
.routing-state--item:last-of-type {
  margin-right: 0;
}
.routing-state--item h4 {
  margin: 0 0 24px;
  padding: 0;
  font: 300 18px/16px 'Museo Sans',sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.routing-state--item .dns-routing,
.routing-state--item .public-access {
  margin: 0;
  padding: 12px 4px;
  border-top: 1px solid #586065;
  font: 300 14px/18px 'Roboto',sans-serif;
  color: #8c969d;
}
.routing-state--item .dns-routing strong,
.routing-state--item .public-access strong {
  font-weight: 300;
  color: #fff;
}
.routing-state--item .desc {
  padding: 0 4px;
  font: 300 13px/17px 'Roboto',sans-serif;
  color: #8c969d;
}
.routing-state--item .desc p {
  margin: 14px 0 0;
  padding: 0;
}

.routing-progress-module {
  width: 956px;
  /*margin: 0 0 24px;*/
  margin: 60px auto;
}

.progress-header {
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  width: 956px;
  margin-bottom: 20px;
}
.progress-header-item {
  width: 276px;
  text-align: center;
}
.progress-header-item .progress-header-txt {
  display: inline-block;
  margin:0 auto;
  text-transform: uppercase;
  font: 500 11px/13px 'Museo Sans',sans-serif;
}
.progress-header-item .progress-header-txt:before {
  text-align: center;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.progress-header-item.current .progress-header-txt:before {
  content: 'Current Mode';
  display: block;
  width: 100px;
  opacity: 1;
  color: #f8b71d;
}
.progress-header-item.migrate .progress-header-txt:before {
  content: 'Change in Progress';
  display: block;
  width: 100px;
  opacity: 1;
  color: #31abed;
}
.progress-header-btn {
  display: inline-block;
  padding: 7px 14px;
  background: #31abed;
  border-radius: 3px;
  background: linear-gradient(to bottom, #a1d9f7 0%, #31abed 50%, #0c608d);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  font: 500 12px/12px 'Museo Sans',sans-serif;
  color: #fff !important;
  text-decoration: none;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
#network-change-progress a.progress-header-btn:hover {
  text-decoration: none;
  filter: brightness(105%);
}
.progress-indicator {
  display: block;
  width: 956px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.progress-indicator .bar-bg {
  content: '';
  display: block;
  width: 680px;
  height: 16px;
  margin: 0 auto;
  position: absolute;
  top: 17px;
  left: 138px;
  z-index: 15;
  background: #3b454d;
}
.progress-indicator .circle-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 956px;
  position: absolute;
  top: 0;
  z-index: 10;
}
.progress-indicator .circle-bg-item {
  width: 276px;
  height: 50px;
  text-align: center;
}
.progress-indicator .circle-bg-item span {
  content:'';
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 100%;
  background: #3b454d;
}
.progress-indicator .bar-anim {
  display: block;
  width: 680px;
  height: 8px;
  margin:0 auto;
  position: absolute;
  top: 21px;
  left:138px;
  z-index:20;
}
.progress-indicator .bar-anim:after {
  clear:both;
  content:'';
  display:block;
}
.progress-indicator .bar-anim .hidden {
  visibility: hidden;
}
.progress-indicator .bar-anim-item {
  content:'';
  display:block;
  float:left;
  width: 340px;
  height: 8px;
  overflow:hidden;
  text-align: left;
}
.progress-indicator .bar-migrate {
  display:block;
}
.progress-indicator .bar-migrate.back {
  text-align: right;
}
.progress-indicator .bar-migrate img {
  width: 0;
  height: 8px;
  position: relative;
  top: -5px;
  border-radius:3px;
  -moz-transition: width 3s;
  -webkit-transition: width 3s;
  transition: width 3s;
}
.progress-indicator .bar-migrate.fwd img,
.progress-indicator .bar-migrate.back img {
  width: 250px;
  display: inline-block;
  height: 8px;
}
.progress-indicator .circle-anim {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 956px;
  height:34px;
  position: absolute;
  top: 8px;
  z-index: 30;
}
.progress-indicator .circle-anim-item {
  display:block;
  width: 276px;
  position:relative;
  top:0;
  text-align: center;
}
.progress-indicator .circle-anim-item .circle-icon {
  content: ' ';
  display: block;
  width: 34px;
  height: 34px;
  margin:0 auto;
  border-radius: 100%;
}
.progress-indicator .circle-anim-item .circle-icon--current {
  background: #f8b71d url('/css/images/routing-images/icon-check.png') center center no-repeat;
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
.progress-indicator .circle-anim-item .circle-icon--current.inactive {
  background-image: none;
  /* add rotate to transformation to fix Firefox pixel shifting issue */
  -webkit-transform: scale(.5) rotate(0.01deg);
  -moz-transform: scale(.5) rotate(0.01deg);
  transform: scale(.5) rotate(0.01deg);
}

@-webkit-keyframes progressHeaderRotate {
  from{-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes progressHeaderRotate {
  from{-moz-transform:rotate(0deg);}
  to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes progressHeaderRotate {
  from{-ms-transform:rotate(0deg);}
  to{-ms-transform:rotate(360deg);}
}
.progress-indicator .circle-anim-item .circle-icon--migrate {
  background: url('/css/images/routing-images/activity-indicator.svg') 0 0 no-repeat;
  -webkit-animation-name: progressHeaderRotate;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: progressHeaderRotate;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: progressHeaderRotate;
  -ms-animation-duration: 3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}
img.bg-progress-bar {
  content:url("/css/images/routing-images/bg-progress-bar.png");
}
