// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-form-container {
  position: absolute;
  width: 100%;
  background: #F4F1EA;
}
.session-form-box {
  position: relative;
  margin: auto;
  width: 40%;
  padding: 40px;
  border: 1px solid black;
  background: white;

  > h3 {
    text-align: center;
  }

  .session-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

.errors {
  text-align: center;
  list-style: none;

}

.form-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 40px;
}

.form-bottom li {
  padding: 5px;
}

label {
  text-align: left;
}

.session-input {
  padding: 10px 5px;
  width: 250px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid grey;
}

.session-submit {
  padding: 10px;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 3px;
  text-decoration: none;
  background: #F4F1EA;
  cursor: pointer;
  font-family: "Merriweather";
  color: #382110;
}

.session-submit:hover {
  background: #ebe6d9;
}
